---
http_interactions:
- request:
    method: get
    uri: https://a.wunderlist.com/api/v1/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Access-Token:
      - cbd92fc07738d207453ff4917e409b8541c77bd5d90d874726de695088d9
      X-Client-Id:
      - cf59f8dece4c5b479ce1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Current-User-Id:
      - '6912344'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":104318536,"title":"inbox","owner_type":"user","owner_id":6912344,"list_type":"inbox","public":false,"revision":17157,"created_at":"2014-03-27T09:59:28.414Z","type":"list"},{"id":165222701,"title":"Home","owner_type":"user","owner_id":6912344,"list_type":"list","public":false,"revision":660,"created_at":"2015-06-24T20:08:52.995Z","created_by_request_id":"5541b1d86e925e2dd7e5:FAA3A9E2-85D1-4CAE-998D-2068AC24244E:CDAE2CE8-2DF2-4A84-A68D-586720F4C496:6912344:6C4B7695-98F1-470E-ABBC-91D40E173144","type":"list"},{"id":173641816,"title":"Check
        Out","owner_type":"user","owner_id":6912344,"list_type":"list","public":false,"revision":1700,"created_at":"2015-08-16T20:16:07.854Z","created_by_request_id":"5541b1d86e925e2dd7e5:FAA3A9E2-85D1-4CAE-998D-2068AC24244E:CDAE2CE8-2DF2-4A84-A68D-586720F4C496:6912344:88174A2D-6F9E-4041-90ED-BC2AC67F46FF","typ[...]
- request:
    method: post
    uri: https://a.wunderlist.com/api/v1/tasks
    body:
      encoding: UTF-8
      string: '{"id":null,"list_id":331848291,"title":" Glasses","revision":null,"assignee_id":null,"created_at":null,"completed":false,"completed_at":null,"completed_by_id":null,"recurrence_type":null,"recurrence_count":null,"due_date":null,"starred":null}'
    headers:
      X-Access-Token:
      - cbd92fc07738d207453ff4917e409b8541c77bd5d90d874726de695088d9
      X-Client-Id:
      - cf59f8dece4c5b479ce1
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Current-User-Id:
      - '6912344'
    body:
      encoding: UTF-8
      string: '{"id":3533036915,"created_at":"2018-02-01T04:06:57.175Z","created_by_id":6912344,"completed":false,"starred":false,"list_id":331848291,"revision":1,"title":"
        Glasses","type":"task"}'
  recorded_at: Thu, 01 Feb 2018 04:06:57 GMT
recorded_with: VCR 4.0.0
